.dino {
  border: dashed black 2px;
  padding: 3px;
  cursor: pointer;
}

.dino h3 {
  font-family: 'jurassic_parkregular';
  font-size: 2rem;
  letter-spacing: 3px;
}

.feed-dino-button {
  width: 10%;
  color: black;
}