.food-container {
  color: black;
  position: fixed;
  left: 30%;
  top: 20%;
  background-color: #e4ae1f;
  width: 50vw;
  height: auto;
}

.food-container h2 {
  font-size: 3rem;
  font-family: 'jurassic_parkregular';
  letter-spacing: 3px;
}
