html {
  background-color: #262a32;

}
.game-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1000px;
  grid-template-columns: 1fr 900px 1fr;
  text-align: center;
  font-family: avenir;
  color: red;

}

.header {
  margin: auto;
  position: fixed;
  width: 100vw;
  color: red;
  font-family: 'jurassic_parkregular';
  font-size: 7rem;
  padding: 0;
  top:1%;
  z-index: -1;
  letter-spacing: 5px;
  transform: rotate(+1deg);
}

h2 {
  grid-area: 1/3/2/4;
  font-size: 5rem;
}

.start-button {
  background: white;
  border: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  opacity: 1;
  font-family: 'jurassic_parkregular';
  font-size: 10rem;
  z-index: 10;
  }