.game-container {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/map.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}

h1 {
  grid-area: 1/3/2/6;
}

h2 {
  grid-area: 4/9/5/11;
}

.start-button {
  background: white;
  border: none;
  height: 100vh;
  width: 100vw;
  font-size: 3rem;
  position: fixed;
  z-index: 1;
  opacity: 1;
  }