.info-box {
  height: auto;
  font-size: 2rem;
  margin-top: 30%;
  padding: 10px;
}

.info-box p {
  border-bottom: black 3px double;
  background-color: #e4ae1f;
  color: black;
  font-weight: bold;
}

.info-box h3 {
  color:#e4ae1f;
  line-height: 5px;
}

.net {
  font-size: 5rem;
  transform: rotate(-3deg);
}
