.paddock-card-list {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-auto-flow: column;
  background-image: url('../images/map.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 80%;
  margin-top: 9%;
  height: 1000px;
  overflow: hidden;
  transform: rotate(-1deg);
}