.paddock-card {
  border: 2px black solid;
  background-color: blue;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  overflow: hidden;
  grid-area: 3/6/4/7;
}
.paddock-card-open {
  height: 100%; 
  width: 100%; 
  border-radius: 0; 
  background-color: white;
}

.paddock-card-unowned {
  border: 2px black solid;
  background-color: grey;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  overflow: hidden;
  grid-area: 3/6/4/7;
}

.paddock-card-action {
  border: 2px black solid;
  background-color: red;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  overflow: hidden;
  grid-area: 3/6/4/7;
}

.one {
  grid
}